.bckg {
  background-image: linear-gradient(
        to right bottom,
        rgba($color-primary-light, 0.8),
        rgba($color-primary-dark, 0.8));
  padding: 20px;
  margin-right: 8px;
}
.new-post {
  margin-right: auto;
  margin-left: auto;
}

.post-delete {
  text-decoration: none;
  font-size: 12px;
  background: red;
  color: white !important;
  padding: 8px 12px;
  margin-top: 20px;
  border-radius: 20px;
  margin-left: 15px;
  position: relative;
  top: 10px;
}
// Blog container
//-------------------------
.blog-container {
  
  box-shadow:  0 15px 20px -2px;
  font-family: "adelle-sans", sans-serif;
  font-weight: 100;
  margin-top: 48px;
  margin-bottom: 48px;
  margin-left: auto;
  margin-right: auto;

 

  @media screen and (min-width: 480px) {
    width: 50rem;
    height: 520px;
  }
  @media screen and (min-width: 767px) {
    width: 60rem;
    height: 500px;
  }
  @media screen and (min-width: 959px) {
    width: 90rem;
    height: 500px;
  }
}


.blog-cover {
  
  background-size: cover;
  border-radius: 5px 5px 0 0;
  height: 15rem;
  box-shadow: inset hsla(0, 0, 0, .2) 0 64px 64px 16px;
  margin-bottom: 12px;
}
.blog-author,
.blog-author--no-cover {
  margin: 0 auto;
  padding-top: .125rem;
  width: 80%;

}
.blog-author h3::before,
.blog-author--no-cover h3::before {
  
  background-size: cover;
  border-radius: 50%;
  content: " ";
  display: inline-block;
  height: 60px;
  margin-right: .5rem;
  position: relative;
  top: 8px;
  width: 60px;
}
.blog-author h3 {
  color: #fff;
  font-weight: 100;
  font-size: 20px;

}

// Blog body
//-------------------------
.blog-body {
  margin: 0 auto;
  width: 80%;
 
}

.blog-title h1 a {
  color: #333;
  font-weight: 100;
  font-size: 36px;

}
.blog-summary {
  color: lighten(#333, 10%);
  font-size: 16px;
  margin-top: 20px;
  margin-bottom: 12px;
  overflow: hidden;
}



// Blog footer
//-------------------------
.blog-footer {
  border-top: 1px solid lighten(#333, 70%);
  margin: 0 auto;
  padding-bottom: .125rem;
  width: 80%;
}
.blog-footer ul {
  list-style: none;
  display: flex;
  flex: row wrap;
  justify-content: flex-end;
  padding-left: 0;
  margin-top: 10px;
  margin-bottom: 10px;
}
.blog-footer li:first-child {
  margin-right: auto;
}
.blog-footer li + li {
  margin-left: .5rem;
}
.blog-footer li {
  color: lighten(#333, 40%);
  font-size: .75rem;
  height: 1.5rem;
  letter-spacing: 1px;
  line-height: 1.5rem;
  text-align: center;
  text-transform: uppercase;
  position: relative;
  white-space: nowrap;
  & a {
    color: lighten(#333, 40%);
  }
}

.published-date {
  border: 1px solid lighten(#333, 40%);
  border-radius: 3px;
  padding: 0 .5rem;
  margin-top: 10px;
}




.bacon-blog-post {
  position: relative;
  width: 100%;
  max-width: 80vw;
  background: #fff;
  font-weight: 400;
  line-height: 1.45;
   border-style: solid;
  border-width: 2px;
  box-shadow: 0 0 30px 4px rgba(0,0,0,0.40);
}

.bacon-blog-post-inner { padding: 42px; }

.bacon-blog-post .wp-post-image {
  width: 100%;
  height: auto;
}

.bacon-blog-post h1, .bacon-blog-post h2, .bacon-blog-post h3, .bacon-blog-post h4 {
  margin: 1.414em 0 0.5em;
  font-weight: 700;
  line-height: 1.2;
  font-family: Open Sans, sans-serif;
}

.bacon-blog-post h1 a, .bacon-blog-post h2 a, .bacon-blog-post h3 a, .bacon-blog-post h4 a {
  display: inline-block;
  color: #000;
  text-decoration: none;
}

.bacon-blog-post h1 {
  margin-top: 0;
  font-size: 3.157em;
}

.bacon-blog-post h2 { margin-top: 0; font-size: 2.369em;}
.bacon-blog-post h3 {font-size: 1.777em;}
.bacon-blog-post h4 {font-size: 1.333em;}
.bacon-blog-post small, .bacon-blog-post .font_small {font-size: 0.75em;}

.bacon-blog-post p, .bacon-blog-post p a {
  font-family: Lora, Times New Roman, serif;
  font-size: 20px;
  line-height: 28px;
}

.bacon-blog-post p { margin-bottom: 1.3em; }
.bacon-blog-post p:last-child { margin-bottom: 0; }
.bacon-blog-post p a { color: #B21A13; }

.bacon-blog-post blockquote {
  margin: 1.3em;
  padding-left: 1.3em;
  border-left: rgb(224,40,43) solid 0.25em;
  font-style: italic;
}

.bacon-shadow:after {
  position: absolute;
  content: "";
  left: 20px;
  right: 20px;
  bottom: 0px;
  z-index: -1;
  
}

.unlike-link {
  background-color: #555;
  border: none;
  color: white;
  padding: 8px 16px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 15px;
  margin-top: 15px;
}

.like-link {
  background-color: #f00;
  border: none;
  color: white;
  padding: 8px 16px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 15px;
  margin-top: 15px;
}

.poster-profile {

  border: none;
  color: #000;
  font-size: 16px;
  text-decoration: none;
  
  cursor: pointer;
  
  margin-top: 15px;
  top: 11px;
  position: relative;
}

.blog-content {
  font-size: 16px;
}