

       
        <header class="header border">

           <%= render partial: '/layouts/header1' %>
            

            <div class="header__text-box">
                <h1 class="heading-primary">
                    <span class="heading-primary--main heading-font-alba">The Editorial Board</span>
                    <span class="heading-primary--sub">Beckoning Creati'wit'y</span>
                </h1>

                <a href="#" class="btn btn--white btn--animated">Let's Discover it</a>
            </div>
        </header>

        <main>
            <section class="section-about">
                <div class="u-center-text u-margin-bottom-big">
                    <h2 class="heading-secondary">
                        Exciting events for students
                    </h2>
                </div>

                <div class="row">
                    <div class="col-1-of-2">
                        <h3 class="heading-tertiary u-margin-bottom-small">You're really going to enjoy with us</h3>
                        <p class="paragraph">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam, ipsum sapiente aspernatur libero repellat quis consequatur
                            ducimus quam nisi exercitationem omnis earum qui.
                        </p>

                        <h3 class="heading-tertiary u-margin-bottom-small">Live events like you never have before</h3>
                        <p class="paragraph">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores nulla deserunt voluptatum nam.
                        </p>

                        <a href="#" class="btn-text">Learn more &rarr;</a>
                    </div>
                    <div class="col-1-of-2">
                        <div class="composition">

                            <img srcset="img/section.jpg 300w, img/section.jpg 1000w"
                                 sizes="(max-width: 56.25em) 20vw, (max-width: 37.5em) 30vw, 300px"
                                 alt="Photo 1"
                                 class="composition__photo composition__photo--p1">

                            <img srcset="img/section.jpg 300w, img/section.jpg 1000w"
                                 sizes="(max-width: 56.25em) 20vw, (max-width: 37.5em) 30vw, 300px"
                                 alt="Photo 2"
                                 class="composition__photo composition__photo--p2">

                            <img srcset="img/section.jpg 300w, img/section.jpg 1000w"
                                 sizes="(max-width: 56.25em) 20vw, (max-width: 37.5em) 30vw, 300px"
                                 alt="Photo 3"
                                 class="composition__photo composition__photo--p3">
                        </div>
                    </div>
                </div>
            </section>

            <section class="section-features">
                <div class="heading-primary--main u-center-text u-margin-bottom-big font-white">What Do we do</div>
                <div class="row">
                    <div class="col-1-of-4">
                        <div class="feature-box">
                            <i class="feature-box__icon icon-basic-world"></i>
                            <h3 class="heading-tertiary u-margin-bottom-small">Malvika</h3>
                            <p class="feature-box__text">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam, ipsum sapiente aspernatur.
                            </p>
                        </div>
                    </div>

                    <div class="col-1-of-4">
                        <div class="feature-box">
                            <i class="feature-box__icon icon-basic-compass"></i>
                            <h3 class="heading-tertiary u-margin-bottom-small">Tiresia</h3>
                            <p class="feature-box__text">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam, ipsum sapiente aspernatur.
                            </p>
                        </div>
                    </div>

                    <div class="col-1-of-4">
                        <div class="feature-box">
                            <i class="feature-box__icon icon-basic-map"></i>
                            <h3 class="heading-tertiary u-margin-bottom-small">Organise events</h3>
                             <p class="feature-box__text">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam, ipsum sapiente aspernatur.
                            </p>
                        </div>
                    </div>

                    <div class="col-1-of-4">
                        <div class="feature-box">
                            <i class="feature-box__icon icon-basic-heart"></i>
                            <h3 class="heading-tertiary u-margin-bottom-small">Abhyudaya</h3>
                            <p class="feature-box__text">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam, ipsum sapiente aspernatur.
                            </p>
                        </div>
                    </div>
                </div>
            </section>

            <section class="section-tours" id="section-tours">
                <div class="u-center-text u-margin-bottom-big">
                    <h2 class="heading-secondary">
                        Our publications
                    </h2>
                </div>

                <div class="row">
                    


                    <div class="col-2-of-4">
                        <div class="showcard">
                            <div class="showcard__side showcard__side--front">
                                <div class="showcard__picture showcard__picture--2">
                                    &nbsp;
                                </div>
                                <h4 class="showcard__heading">
                                    <span class="showcard__heading-span showcard__heading-span--2">Malvika</span>
                                </h4>
                                <div class="showcard__details">
                                    <ul>
                                        <li>Loreum</li>
                                        <li>Loreum</li>
                                        <li>Loreum</li>
                                        <li>Loreum</li>
                                        <li>Loreum</li>
                                    </ul>
                                </div>

                            </div>
                            <div class="showcard__side showcard__side--back showcard__side--back-2">
                                <div class="showcard__cta">
                                    <div class="showcard__about-box">
                                        <p class="showcard__about-detail">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam, ipsum sapiente aspernatur.</p>
                                        
                                    </div>
                                    <a href="#popup" class="btn btn--white">Read now!</a>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="col-2-of-4">
                        <div class="showcard">
                            <div class="showcard__side showcard__side--front">
                                <div class="showcard__picture showcard__picture--3">
                                    &nbsp;
                                </div>
                                <h4 class="showcard__heading">
                                    <span class="showcard__heading-span showcard__heading-span--3">Tiresia</span>
                                </h4>
                                <div class="showcard__details">
                                    <ul>
                                        <li>Loreum</li>
                                        <li>Loreum</li>
                                        <li>Loreum</li>
                                        <li>Loreum</li>
                                        <li>Loreum</li>
                                    </ul>
                                </div>

                            </div>
                            <div class="showcard__side showcard__side--back showcard__side--back-3">
                                <div class="showcard__cta">
                                    <div class="showcard__about-box">
                                    <p class="showcard__about-detail">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam, ipsum sapiente aspernatur.</p>
                                        
                                    </div>
                                    <a href="#popup" class="btn btn--white">Read now!</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section class="section-stories">
                <div class="bg-video">
                    <video class="bg-video__content" autoplay muted loop>
                        <source src="img/video.mp4" type="video/mp4">
                        <source src="img/video.webm" type="video/webm">
                        Your browser is not supported!
                    </video>
                </div>

                <div class="u-center-text u-margin-bottom-big">
                    <h2 class="heading-secondary">
                        Listen From Our Faculty
                    </h2>
                </div>

                <div class="row">
                    <div class="story">
                        <figure class="story__shape">
                            <img src="img/sn.jpg" alt="Person on a tour" class="story__img">
                            <figcaption class="story__caption">S.N Singh</figcaption>
                        </figure>
                        <div class="story__text">
                            <h3 class="heading-tertiary u-margin-bottom-small">Lorem ipsum dolor sit amet consectetur adipisicing elit</h3>
                            <p>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam, ipsum sapiente aspernatur libero repellat quis consequatur
                                ducimus quam nisi exercitationem omnis earum qui. Aperiam, ipsum sapiente aspernatur libero
                                repellat quis consequatur ducimus quam nisi exercitationem omnis earum qui.
                                
                            </p>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="story">
                        <figure class="story__shape">
                            <img src="img/bk.jpg" alt="Faculty Advisor" class="story__img">
                            <figcaption class="story__caption">B.K Pandey</figcaption>
                        </figure>
                        <div class="story__text">
                            <h3 class="heading-tertiary u-margin-bottom-small">Lorem ipsum dolor sit amet consectetur adipisicing elit.</h3>
                            <p>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam, ipsum sapiente aspernatur libero repellat quis consequatur
                                ducimus quam nisi exercitationem omnis earum qui. Aperiam, ipsum sapiente aspernatur libero
                                repellat quis consequatur ducimus quam nisi exercitationem omnis earum qui.
                            </p>
                        </div>
                    </div>
                </div>

                
            </section>

           
        </main>

        <footer class="footer">
            <div class="footer__logo-box">

                <picture class="footer__logo">
                    <img src="img/Logo.png" alt="Logo" class="header__logo">
                </picture>


                
            </div>
            <div class="row">
                <div class="col-1-of-2">
                    <div class="footer__navigation">
                        <ul class="footer__list">
                            <li class="footer__item"><a href="#" class="footer__link">Loreum</a></li>
                            <li class="footer__item"><a href="#" class="footer__link">Loreum</a></li>
                            <li class="footer__item"><a href="#" class="footer__link">Loreum</a></li>
                            <li class="footer__item"><a href="#" class="footer__link">Loreum</a></li>
                            <li class="footer__item"><a href="#" class="footer__link">Loreum</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-1-of-2">
                    <p class="footer__copyright">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam, ipsum sapiente aspernatur libero repellat quis consequatur
                                ducimus quam nisi exercitationem omnis earum qui. Aperiam, ipsum sapiente aspernatur libero
                                repellat quis consequatur ducimus quam nisi exercitationem omnis earum qui.
                    </p>
                </div>
            </div>
        </footer>

        

        <!--
        <section class="grid-test">
            <div class="row">
                <div class="col-1-of-2">
                    Col 1 of 2
                </div>
                <div class="col-1-of-2">
                    Col 1 of 2
                </div>
            </div>

            <div class="row">
                <div class="col-1-of-3">
                    Col 1 of 3
                </div>
                <div class="col-1-of-3">
                    Col 1 of 3
                </div>
                <div class="col-1-of-3">
                    Col 1 of 3
                </div>
            </div>

            <div class="row">
                <div class="col-1-of-3">
                    Col 1 of 3
                </div>
                <div class="col-2-of-3">
                    Col 2 of 3
                </div>
            </div>

            <div class="row">
                <div class="col-1-of-4">
                    Col 1 of 4
                </div>
                <div class="col-1-of-4">
                    Col 1 of 4
                </div>
                <div class="col-1-of-4">
                    Col 1 of 4
                </div>
                <div class="col-1-of-4">
                    Col 1 of 4
                </div>
            </div>

            <div class="row">
                <div class="col-1-of-4">
                    Col 1 of 4
                </div>
                <div class="col-1-of-4">
                    Col 1 of 4
                </div>
                <div class="col-2-of-4">
                    Col 2 of 4
                </div>
            </div>

            <div class="row">
                <div class="col-1-of-4">
                    Col 1 of 4
                </div>
                <div class="col-3-of-4">
                    Col 3 of 4
                </div>
            </div>
        </section>
        -->

