
<%= render partial: '/layouts/header2' %>
<h1>New Post</h1>

<%= render 'form', post: @post %>

<%= link_to 'Back', posts_path %>
<p style="color: red; font-size: 16px; text-align: center;">POST WILL BE PUPBLISHED HERE ONCE APPROVED</p>
