// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.table {
  border: 1px solid black;
}
.table-data{
  border: 1px solid black;
  font-size: 20px;
}
.table-head{
  border: 1px solid black;
  font-size: 20px;
}
